<div class="wrapper white">
  <div class="row">
    <div class="col s1 push-s11">
      <a routerLink="/weather/config" title="Settings">
          <span class="right grey-text">
          <i class="small material-icons">settings</i>
            </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div>
        <div *ngIf="weatherForecast">
          <div class="row">
            <div class="col s12 no-padding-sides">
              <current-weather [currentWeather]="weatherForecast" [currentWeatherLocation]="currentWeatherLocation"></current-weather>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="row todays-weather">
                <table>
                  <thead>
                  <tr>
                    <th>
                      <div class="title">Idag</div>
                    </th>
                    <th>Temp</th>
                    <th>Ned</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr>
                    <td>Max</td>
                    <td class="temperature"> {{getMinMaxParameterValue(weatherForecast.timeSeries, 't', false)}}</td>
                    <td class="precipitation"> {{getMinMaxParameterValue(weatherForecast.timeSeries, 'pmax',
                      false)}}
                    </td>

                  </tr>
                  <tr>
                    <td>Min</td>
                    <td class="temperature">{{getMinMaxParameterValue(weatherForecast.timeSeries, 't',true)}}</td>
                    <td class="precipitation"> {{getMinMaxParameterValue(weatherForecast.timeSeries, 'pmin', true)}}
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <timeseries [weatherForecast2]="weatherForecast"></timeseries>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
