:host {
  margin-bottom: 0 !important;
}

.typeahead-results-container {
  .results {
    padding-left: 0 !important;
    padding-right: 0 !important;

    div.collection {
      margin-top: 0 !important;
    }
  }
}

