
.semi-bold {
  font-weight: 500;
}

.left-bordered {
  border-left: 1px solid #e0e0e0;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-sides {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.text-bold {
  font-weight: 900 !important;
}

.text-semibold {
  font-weight: 400 !important;
}

.wrapper {
  padding: 1em;
}

i.x-small {
  font-size: 1.5rem;
}


.top-padding {
  padding-top: 1rem !important;
}


.semi-bold {
  font-weight: 500;
}
