<div class="col s12">
  <div class="col s12">
    <div class="col s6"><label>Name</label></div>
    <div class="col s6">{{ alarmGroup.name }}</div>
  </div>
  <div class="col s12">
    <div class="col s6">Fired</div>
    <div class="col s6">{{ alarmGroup.fired }}</div>
  </div>
  <div class="col s12">
    <div class="col s6">
      Enabled
    </div>
    <div class="col s6">
      <div class="actions">
        <div class="switch">
          <label title="Enable/disable alarm group">
            <input type="checkbox" [checked]="alarmGroup.enabled"
                   (change)="enableAlarmGroup($event.target.checked)">
            <span class="lever"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
