<div class="white" id="my-zwave-sensors">
  <div class="no-padding-top">
    <div class="row">
      <div class="col s12">
        <div class="col s12">
          <h5>{{title}}</h5>
        </div>
        <ul class="collection">
          <li class="collection-item" *ngFor="let sensor of sensors">
            <div class="valign-wrapper">
              <div class="col s8">
                <div class="col s12 text-bold">{{ sensor.name }}</div>
                <div class="col s12">
                  <div class="col col4"><label>HA ID</label></div>
                  <div class="col col8">{{ sensor.haId }}</div>
                </div>
                <div class="col s12">
                  <div class="col col4"><label>ID</label></div>
                  <div class="col col8">{{ sensor.id }}</div>
                </div>
                <div class="col s12">
                  <div class="col col4"><label>Node ID</label></div>
                  <div class="col col8">{{ sensor.nodeId }}</div>
                </div>
                <div class="col s12">
                  <div class="col col4"><label>Unit</label></div>
                  <div class="col col8">{{ sensor.unitOfMeasurement }}</div>
                </div>
              </div>
              <div class="col s4">
                <div class="right">
                  <div *ngIf="!sensor.id">
                    <a class="btn-floating btn-small waves-effect waves-light blue" (click)="saveSensor(sensor)">
                      <i class="material-icons">add</i></a>
                  </div>
                </div>
                <div class="actions right" *ngIf="sensor.id">
                  <div class="right">
                    <a class="btn-floating btn-small waves-effect waves-light red" (click)="removeSensor(sensor.id)">
                      <i class="material-icons">remove</i></a>
                  </div>
                  <div class="switch">
                    <label title="Select Sensors">
                      <input type="checkbox" [checked]="sensor.enabled"
                             (change)="selectSensor(sensor, $event.target.checked)">
                      <span class="lever"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
